##For loop

In [ ]:
laptop1 = int(input('Enter the price of laptop: '))
laptop2 = int(input('Enter the price of laptop: '))
laptop3 = int(input('Enter the price of laptop: '))
laptop4 = int(input('Enter the price of laptop: '))
laptop5 = int(input('Enter the price of laptop: '))

Enter the price of laptop: 10000
Enter the price of laptop: 20000
Enter the price of laptop: 30000
Enter the price of laptop: 40000
Enter the price of laptop: 50000

In [ ]:
for i in range(0,5):
  laptop_price = int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20
Enter the price of the laptop: 40
Enter the price of the laptop: 60
Enter the price of the laptop: 80
Enter the price of the laptop: 100

In [ ]:
for i in range(0,5):
  print(laptop_price)

100
100
100
100
100

In [ ]:
numbers = [50,100,150,200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [ ]:
numbers = [50,100,150,200]

for i in numbers:
  print(i)

50
100
150
200

IndexError: ignored

**While loop** 

when you are not sure how many times loop has to run

In [ ]:
i = 0

while (i<10):
  print(i)
  i += 1        # i=i+1

0
1
2
3
4
5
6
7
8
9